<%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main id="edit-profile" class="container">
        <form action="/edit-profile/<%= profile.s_id %>" method="post" enctype="multipart/form-data">
            <h1>Edit Profile</h1>

            <div class="form-input">
                <label for="">Name</label>
                <input type="text" name="name" id="" value="<%= profile.name %>">
            </div>

            <div class="form-input">
                <label for="">Email Address</label>
                <input type="text" name="email" id="" value="<%= profile.email %>">
            </div>

            <div class="form-input">
                <label for="">Gender</label>

                <select name="gender" id="">
                    <option value="">Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>

            </div>

            <div class="form-input">
                <label for="">Phone Number</label>
                <input type="text" name="contacts" id="">
            </div>

            <div class="form-input">
                <label for="">Date of Birth</label>
                <input type="date" name="dob" id="">
            </div>

            <div class="form-input">
                <label for="">Profile Piccture</label>
                <input type="file" name="picture" id="">
            </div>

            <input type="submit" value="Update Profile">
        </form>
    </main>
<%- include('partials/footer') %>
