<%- include('partials/header')%>
    
    <main id="login-form">
        <form action="/login" method="post">
            <h1>Log In</h1>
            <% if(error) { %>
                <p class="error"><%= message %></p>
            <% } %>
            <input type="email" name="email" id="" value="<%= user.email %>" placeholder="Email Address" required>
            <input type="password" name="password" id="" value="<%= user.password %>" placeholder="Password" required minlength="8">
            <input type="submit" value="Log In">
            <p>Don't have an account? <a href="/signup">Create one</a></p>
        </form>
    </main>


<%- include('partials/footer')%>