<%- include('partials/header') %>
    <%- include('partials/nav') %>
    <main id="profile" class="container">
        <img src="/uploads/<%= profile.picture %>" alt="">
        <h1><%= profile.name %></h1>
        <a href="/edit-profile">Edit Profile</a>                
    </main>
<%- include('partials/footer') %>